<!DOCTYPE html>
<html>
<head>
  <title>Google Docs Screenshot</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    .google-docs-container {
      width: 100%;
      height: 100vh;
      border: none;
    }
  </style>
</head>
<body>
  <iframe class="google-docs-container" src="<%= googleDocsUrl %>" frameborder="0"></iframe>
</body>
</html>
